.sidebar{
    height: calc(100vh - 50px);
    margin-top: 100px;
    width: 12%;
    position: fixed;
    border-right: 2px solid #494949;
}
.sidebar h1{
    padding: 15px;
    text-align: center;
}
.sidebar-icon{
    margin-right: 10px;
    background-color: transparent;
}
.sidebar-title{
    font-weight: bold;
    background-color: transparent;
}
.sidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.sidebarList .row{
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: grey;
    justify-content: center;
    align-items:center;
    font-family: 'Trebuchet MS','Lucida Grande',Arial,sans-serif;
}
.sidebarList .row:hover{
    cursor: pointer;
    background-color: #1c1c1c;
}
.sidebarList #active {
    background-color: #1c1c1c;
}